{
  "extends": ["zavatta", "zavatta-react", "prettier", "prettier/react"],
  "globals": {
    "__ENV__": false,
    "__DEV__": false,
    "__PROD__": false,
    "__APIURL__": false,
  },
  "parser": "babel-eslint",
  "plugins": ["react-hooks"],
  "rules": {
    "react/no-array-index-key": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "camelcase": 0
  }
}
